{% extends 'base.html.twig' %}


{% block body %}
<div class="row">
    <div class="col-4">
        left-col
    </div>
    <div class="col-8">
        <div class="main">
            main
            <div id="content"></div>
        </div>
        <div class="sub-main">
            <div class="row">
                <div class="col-6">
                    left-main 
                </div>
                <div class="col-6">
                    right-main
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}